/* Nav Bar CSS */
nav{
    min-width: 790px;
}
.container-fluid{
    width: 100%;
    background-image: url(https://i.ytimg.com/vi/XHiLH3vXL5M/maxresdefault.jpg);
}

.container-fluid>.navbar-header>a{
    color: #9B59B6;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
.container-fluid>.navbar-header>a:hover{
    color: #7D3C98;
}
body{
    background-image: url(https://ewhenson.files.wordpress.com/2015/12/night-sky-wide-wallpaper.jpg);
}
.center{
    text-align: center;
}
.white{
    font-size: 20px;
    color: #80bfff;
}
img{
    size:30px;
}
.purple{
    text-align:center;
    font-size: 30px;
    font-family: 'Courgette', cursive;
    color: #9B59B6;
}


