/* Nav Bar CSS */
nav{
    min-width: 790px;
}
.container-fluid{
    width: 100%;
    background-image: url(https://i.ytimg.com/vi/XHiLH3vXL5M/maxresdefault.jpg);
}
.container-fluid>.navbar-header>a{
    color: #9B59B6;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
body{
    background-image: url(https://ewhenson.files.wordpress.com/2015/12/night-sky-wide-wallpaper.jpg);
}
.white{
    font-size: 20px;
    color: white;
}
img{
    size:30px;
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


