html{
    min-height: 100%;
}
body{
    min-height: 100%;
    min-width: 500px;
}
#about-body{
    background-color: #D3D3D3;
}


.content{
    background-image: url("https://storge.pic2.me/c/1360x800/824/minimal_38.jpg");
    /*
    found many good img:
    https://www.google.com/search?q=%E4%B8%AD%E5%9B%BD%E9%A3%8E+%E8%83%8C%E6%99%AF&tbm=isch&tbs=rimg:CfREyBd91n3WIjjobJphhKsfVW92lXFPaRwol1jQ7vgHzrT0BqL6jjdVdYc5WKB76D4tna4jxLII56CAHaaGJr0BXyoSCehsmmGEqx9VEa5cVvR7YZ5kKhIJb3aVcU9pHCgRTECrU0bb4xMqEgmXWNDu-AfOtBHFND2G5B3fIyoSCfQGovqON1V1EUidbecBuVJ1KhIJhzlYoHvoPi0Rfv9WFW8L3ZIqEgmdriPEsgjnoBEDVI4NxQvRTCoSCYAdpoYmvQFfEQw9TBVGWcIG&tbo=u&sa=X&ved=2ahUKEwiXo__UjavfAhWumOAKHectDbAQ9C96BAgBEBs#imgdii=9Aai-o43VXWMvM:&imgrc=pAorxT0lSEz7pM:
    --Wye
    */
    background-size: cover;
}



.container-fluid{
    background-color: white;
}
#navbar{
    margin-bottom: 0px;
}
.container-fluid>.navbar-header>a{
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
.container-fluid>.navbar-header>a:hover{
    color: #B0B0B0;
}
.nav-pills>li.active.navbtn>a{
    background-color: black;
}
.nav-pills>li.active.navbtn>a:hover{
    background-color: gray;
}
.nav-pills>li.navbtn>a{
    color: black;

}
.nav-pills>li.navbtn>a:hover{
    background-color: #D3D3D3;
}
.nav-pills>li>a:hover{
    background-color: black;
    color: black;
}


#indexcontent{
    text-align: center;
}
#profile{
    height: 200px;
    border: 6px solid #F5F5F5;
    border-radius: 10px;
    margin-top: 40px;
}

#name{
    color: white;
    font-family: 'Iceland', cursive;
}



#projectscontent2{
    background-color: rgba(255,255,255,0.4);
    max-width: 80%;
}
.projects{
    margin-top: 20px;
    margin-bottom: 20px;
}
.images{
    height:100%;
    
}
.thumbnail{
    height: 420px;
}
h4.projectnames>a{
    font-family: 'Iceland', cursive;
    color: black;
    font-size: 24px;
}
h4.projectnames>a:hover{
    font-family: 'Iceland', cursive;
    color: #686868;
}
.descriptions{
    font-family: 'Iceland', cursive;
    font-size: 10px;
    text-align: center;
}


container{
    text-align: center;
    max-width: 80%;
}
#aboutme{
    margin-top: 40px;
    text-align: center;
    color: white;
}
#aboutinfo{
    text-align:center;
    font-size: 30px;
    font-family: 'Iceland', cursive;
    color: black;
}



#contact{
    text-align: center;
    color: white;
    font-family: 'Iceland', cursive;
}





.purple{
    text-align:center;
    font-size: 30px;
    font-family: 'Iceland', cursive;
    color: white;
}
footer{
    text-align: center;
    font-family: 'Iceland', cursive;
    font-size: 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}